.carousel-list {
	list-style: none;
	width: 10000px;
	position: relative;
}
.carousel-element {
	display: block;
	margin-right: 25px;
	float: left;
}
.carousel-element img {
	max-width: 105px;
	height: 100px;
}
.carousel-element p {
	text-align: center;
}
.carousel-hider {
	width: 375px;
	overflow: hidden;
	float: left;
	margin-top: 20px;
}
.carousel-arrow-left,
.carousel-arrow-right {
	color: white;
	float: left;
	display: block;
	border: 1px solid ghostwhite;
	background-color: cornflowerblue;
	padding: 5px;
	margin-top: 45px;
}
.carousel-arrow-left:hover,
.carousel-arrow-right:hover {
	cursor: pointer;
	background-color: blue;
}
.carousel-arrow-left {
	border-bottom-left-radius: 100%;
	border-top-left-radius: 100%;
	margin-right: 10px;
	margin-left: 30px;
}
.carousel-arrow-right {
	border-top-right-radius: 100%;
	border-bottom-right-radius: 100%;
	margin-left: 10px;
}