<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Template</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/style.css">
	<script
		src="https://code.jquery.com/jquery-3.2.0.js"
		integrity="sha256-wPFJNIFlVY49B+CuAIrDr932XSb6Jk3J1M22M3E2ylQ="
		crossorigin="anonymous"></script>
	<script src="js/template.js"></script>
	<script src="js/script.js"></script>
</head>
<body>
<script type="text/html" id="test">
	<div class="wrapper">
		<div class="div">
			<div class="div2">
				<h1>Опарін Євген Михайлович</h1>
				<div class="picture">
					<img src="img/my_foto.JPG" alt="photo">
				</div>
				<p class="prof">Спеціаліст з Організації Театральної Справи</p>
				<h2>Хочу вивчити FrontEnd тому що:</h2>
				<ul>
					<li>Це дуже цікаво</li>
					<li>Напрямок постійно розвивається</li>
					<li>Гарні спеціалісти мають великі перспективи</li>
				</ul>
				<h2>Мій контактний телефон</h2>
				<p class="data"> +380686904094 </p>
				<h2>Мій профіль FB:</h2>
				<p class="data link"><a href="https://www.facebook.com/evgen.oparin">https://www.facebook.com/evgen.oparin</a></p>
				<h2 class="feedback">Мій фідбек:</h2>
				<p class="data">Все тільки здається важким :)</p>
			</div>
		</div>
	</div>
</script>
</body>
</html>